<div class="card">
    <div class="card-header">
        <h5>Reactive Forms with PrimeNg Table</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="employeeForm">
            <p-table [value]="tableRowArray.controls" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <ng-container *ngFor="let col of columns">
                            <td>{{col}}</td>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <ng-container formArrayName="tableRowArray">
                        <tr [formGroupName]="rowIndex">
                            <td>
                                <input type="text" class="form-control form-control-sm" formControlName="name" />
                                <div class="text-danger" *ngIf="rowData.get('name').errors && (rowData.get('name').dirty || rowData.get('name').touched)">
                                    <div *ngIf="rowData.get('name').errors?.required">Name is Required</div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" formControlName="address" />
                                <div class="text-danger" *ngIf="rowData.get('address').errors && (rowData.get('address').dirty || rowData.get('address').touched)">
                                    <div *ngIf="rowData.get('address').errors?.required">Address is Required</div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" formControlName="salary" />
                                <div class="text-danger" *ngIf="rowData.get('salary').errors && (rowData.get('salary').dirty || rowData.get('salary').touched)">
                                    <div *ngIf="rowData.get('salary').errors?.required">Salary is Required</div>
                                    <div *ngIf="rowData.get('salary').errors?.pattern">Number Only, max 6 digits with max 2 decimals</div>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" formControlName="isActive" />
                                    <label class="form-check-label"></label>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" title="Delete" (click)="onDeleteRow(rowIndex)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </ng-template>
            </p-table>
        </form>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary btn-sm pull-left" (click)="addNewRow()">Add Row</button>
        <button type="button" class="btn btn-success btn-sm pull-right" title="Save">Save</button>
    </div>
</div>